body {
	background-color: #808cb1;
	margin: 0px;
}
td {
	border: 1px solid black;
	padding: 1%;
}

/* --------------- */
/* topBar content */
/* ------------- */

#topBar {
	border: 2px solid #0c234b;
	background-color: #8998a4;
	width: 100%;
	height: 15%;
	position: absolute;
	top: 0;
	overflow: hidden;
	z-index: 1;
}
#UAlogo {
	width: 350px;
	margin-top: 1%;
	margin-left:1%;
	float:left;
}
.iconImage {
	width: 30px;
	height: 30px;
	float: right;
	margin-right: 1%;
	margin-top: 3%;
	cursor: pointer;
}
#pfpImage {
	width: 50px;
	height:50px;
	margin-left: 5px;
	margin-bottom: -5px;
}
#accountDiv {
	background-color: #91a2ce;
	border: 1px solid #0c234b;
	border-radius: 5%;
	margin-top: 2.5%;
	margin-right: 1%;
	float: right;
}
#mobileClasses2 {
	display: none;
}

/* -------------------- */
/* Classes bar content */
/* ------------------ */

#classesBar { /* Contains all class divs. On left side of screen. Hidden by default on mobile displays. */
	border: 2px solid #0c234b;
	background-color: #44527c;
	width: 20%;
	height: 85%;
	padding-top: 140px;
	padding-left: 0.6%;
	padding-right: 0.2%;
	padding-bottom: 0.2%;
	position: absolute;
	overflow: scroll;
}
.openCB {
	display: block;
}
.closedCB {
	display: none;
}
.class {
	border: 2px solid #0c234b;
	border-radius: 5%;
	margin:auto;
	margin-bottom: 3%;
	overflow: hidden;
	background-color: #556ca5;
	transition: all 500ms;
}
.selectedClass {
	border: 2px solid #0c234b;
	border-radius: 5%;
	margin:auto;
	margin-bottom: 3%;
	overflow: hidden;
	background-color: #6682c6;
	border: 2px solid #194899;
}
.classImage {
	width: 60%;
	height: 60%;
	float: left;
	filter: brightness(70%);
	transition: all 500ms;
}
.selectedClassImage {
	width: 60%;
	height: 60%;
	float: left;
	filter: brightness(100%);
	transition: all 500ms;
}

.class:hover {
	cursor: pointer;
	text-decoration: underline;
	background-color: #6682c6;
	border: 2px solid #194899;
}
.class:hover > img {
	filter: brightness(100%);
}
.class:after{
   content: ' ';
   display: table;
   clear: both
}
.selectedClass:hover {
	cursor: pointer;
	text-decoration: underline;
}

/* ----------------- */
/* Homepage content */
/* --------------- */

#announcements {
	position: absolute;
	top: 18%;
	left: 22%;
}
#notifications {
	position: absolute;
	top: 18%;
	left: 48.65%;
}
#links {
	height: 40%;
	position: absolute;
	top: 18%;
	left: 75%;
}
#brightspace {
	height: 40%;
	position: absolute;
	top: 58.5%;
	left: 75%;
}
#brightspace > span{
	margin-right: 5%;
}
.openedHome {
	border: 2px solid #0c234b;
	border-radius: 1%;
	height: 80%;
	width: 22.5%;
	padding: 0.1%;
	overflow: scroll;
}
.closedHome {
	display: none;
}

/* ------------------- */
/* Class Page Content */
/* ----------------- */

.classContainer {
	height: 80%;
	width: 77%;
	position: absolute;
	top: 18%;
	left: 22%;
}
.hiddenClassContainer {
	display: none;
}
.classContainer > div {
	border: 2px solid #0c234b;
	height: 80%;
	width: 30%;
	margin-right: 1%;
	float: left;
	padding: 1%;
	overflow: scroll;
}
.assignment { /* Table for assignments */
	border: 1px solid black;
	width: 100%;
}

/* ------------------------------------ */
/* Differences on mobile aspect ratios */
/* ---------------------------------- */

@media screen and (max-width: 800px) {

	/* topBar content */

	#topBar {
		height: 50px;
	}
	#UAlogo {
		width: 150px;
		margin-top: 1%;
		margin-left:1%;
		float:left;
	}
	.iconImage {
		width: 20px;
		height: 20px;
		position: relative;
		bottom: 15px;
		right: 5px;
	}
	#mobileClasses2 {
		color: #0c234b;
		position: relative;
		top: 15px;
		left: 15px;
		cursor: pointer;
		display: inline;
	}
	#pfpImage {
		width: 25px;
		height:25px;
		margin-left: 5px;
		margin-bottom: -5px;
	}
	#accountDiv {
		border-radius: 5%;
		margin-right: 1%;
		float: right;
	}

	/* Class bar content */

	#classesBar {
		height: 100%;
		width: 100%;
		display: none;
	}
	#classesBar > h1 {
		text-align: center;
		margin-top: -50px;
	}
	.openCB {
		display: block;
	}
	.closedCB {
		display: none;
	}

	/* Homepage content */

	#announcements, #notifications, #links, #brightspace {
		border-top: 2px solid #0c234b;
		width: 100%;
		height: 100%;
		position: relative;
		left: 0;
		margin-top: 50px;
	}
	.classContainer {
		height: 80%;
		width: 100%;
		position: absolute;
		top: 0%;
		left: 0%;
	}
	.classContainer > div {
		border: 2px solid #0c234b;
		width: 100%;
		padding: 1%;
		overflow: scroll;
	}
}
