body {
	background-color: #808cb1;
	margin: 0px;
	font-family: spectral;
}
#topBar {
	border: 2px solid #0c234b;
	z-index: 1;
	padding: 3px;
	width: 100%;
	height: 15%;
	position: absolute;
	top: 0;
	background-color: #8998a4;
	overflow: hidden;
}
#classesBar {
	border: 2px solid #0c234b;
	padding-top: 140px;
	padding-left: 0.6%;
	padding-right: 0.2%;
	padding-bottom: 0.2%;
	border-top: none;
	width: 20%;
	height: 85%;
	position: absolute;
	left: 0px;
	top: 0%;
	background-color: #44527c;
	overflow: scroll;
}
#announcements {
	border: 2px solid #0c234b;
	border-radius: 1%;
	padding: 0.1%;
	height: 80%;
	width: 22.5%;
	position: absolute;
	top: 18%;
	left: 22%;
	overflow: scroll;
}
#notifications {
	border: 2px solid #0c234b;
	border-radius: 1%;
	padding: 0.1%;
	height: 80%;
	width: 22.5%;
	position: absolute;
	top: 18%;
	left: 48.65%;
	overflow: scroll;
}
#links {
	border: 2px solid #0c234b;
	border-radius: 1%;
	padding: 0.1%;
	height: 40%;
	width: 22.5%;
	position: absolute;
	top: 18%;
	left: 75%;
	overflow: scroll;
}
#brightspace {
	border: 2px solid #0c234b;
	border-top: none;
	border-radius: 1%;
	padding: 0.1%;
	height: 40%;
	width: 22.5%;
	position: absolute;
	top: 58.5%;
	left: 75%;
	overflow: scroll;
}
#UAlogo {
	width: 350px;
	margin-top: 1%;
	margin-left:1%;
	float:left;
}
.class {
	border: 2px solid #0c234b;
	border-radius: 5%;
	margin:auto;
	margin-bottom: 3%;
	overflow: hidden;
	background-color: #556ca5;
	transition: all 500ms;
}
.class > img {
	width: 60%;
	height: 60%;
	float: left;
	filter: brightness(70%);
	transition: all 500ms;
}
.class:hover {
	cursor: pointer;
	text-decoration: underline;
	background-color: #6682c6;
	border: 2px solid #194899;
}
.class:hover > img {
	filter: brightness(100%);
}
.class:after{
   content: ' ';
   display: table;
   clear: both
}
.iconImage {
	width: 30px;
	height: 30px;
	float: right;
	margin-right: 1%;
	margin-top: 3%;
	cursor: pointer;
}
.classContainer {
	display: none;
	position: absolute;
	top: 18%;
	left: 22%;
	height: 80%;
	width: 77%;
}
.classContainer > div {
	border: 2px solid #0c234b;
	height: 80%;
	width: 30%;
	float: left;
	margin-right: 1%;
	padding: 1%;
	overflow: scroll;
}
.assignment {
	border: 1px solid black;
	width: 100%;
}
#brightspace > span{
	margin-right: 5%;
}
td {
	border: 1px solid black;
	padding: 1%;
}
#home {
	margin-left:50%;
}
#mobileClasses2 {
	display: none;
}
@media screen and (max-width: 800px) {
	#topBar {
		height: 50px;
	}
	#UAlogo {
		width: 150px;
		margin-top: 1%;
		margin-left:1%;
		float:left;
	}
	.iconImage {
		width: 20px;
		height: 20px;
		position: relative;
		bottom: 15px;
		right: 5px;
	}
	#classesBar {
		height: 100%;
		width: 100%;
		display: none;
	}
	#classesBar > h1 {
		text-align: center;
		margin-top: -50px;
	}
	#announcements, #notifications, #links, #brightspace {
		width: 100%;
		height: 100%;
		position: relative;
		left: 0;
		border-top: 2px solid #0c234b;
	}
	#mobileClasses2 {
		display: inline;
		position: relative;
		top: 15px;
		left: 15px;
		color: #0c234b;
		cursor: pointer;
	}
	.classContainer {
	display: none;
	position: absolute;
	top: 0%;
	left: 0%;
	height: 80%;
	width: 100%;
	}
	.classContainer > div {
		border: 2px solid #0c234b;
		width: 100%;
		padding: 1%;
		overflow: scroll;
	}
}
