body {
	font-family: Arial;
	background-color: #f6f7f8;
}
#mainContainer {
	overflow: extend;
	height: 100%;
	margin: auto;
	position: relative;
}
#topContainer {
	margin: auto;
	height: 100px;
	float: top;
	padding: 5px;
	padding-left: 15%;
	padding-right: 15%;
	overflow: auto;
	position: relative;
	border-bottom: 1px solid lightgrey;
	background-color: white;
}
#classesContainer {
	width: 50%;
	margin-top: 3%;
	margin-left: 15%;
	position: relative;
	background-color: white;
	border-radius: 1%;
}
#classesNav {
	margin-left: 1%;
	width: 90%;
	height: 100px;
	white-space: nowrap;
	overflow-x: scroll;
}
#classesNav > span {
	margin-right: 15%;
}
#account {
	float: right;
	position: relative;
	top: 25%;
	right: 2%;
}
#account:hover {
	cursor: pointer;
}
#homeButton {
	float: left;
	border: 1px dashed lightblue;
}
#otherIcons {
	float: right;
	position: relative;
	right: 3%;
	top: 33%;
}
#otherIcons > img {
	margin-left: 5px;
}
#helpMenu {
	display: none;
	z-index: 1;
	padding: 1%;
	position: absolute;
	border: 1px solid lightblue;
	border-radius: 5px;
	background-color: white;
	height: 80px;
	width: 200px;
	position: absolute;
	left: 19%;
}
#toolsMenu {
	display: none;
	z-index: 1;
	padding: 1%;
	position: absolute;
	border: 1px solid lightblue;
	border-radius: 5px;
	background-color: white;
	height: 150px;
	width: 200px;
	position: absolute;
	left: 28%;
}
#announcementsContainer {
	height: 50rem;
	width: 15%;
	overflow: scroll;
	padding: 1%;
	position: absolute;
	left: 70%;
	top: 16.5%;
	background-color: white;
	border-radius: 1%;
}
#annDropDown {
	display: none;
	border: 1px solid lightgrey;
	position: absolute;
	background-color: white;
	left: 30%;
	padding: 2%;
	border-radius: 5px;
}
#annDropDown > span {
	display: block;
	border-bottom: 1px solid lightgrey;
}
#brightspaceDiv {
	background-color: white;
	float: bottom;
	border-radius: 1%;
	width: 48%;
	margin-left: 15%;
	margin-top: 1%;
	padding: 1%;
}
#blueDiv {
	background-color: #1e5288;
	color: white;
	margin: auto;
}
#blueDiv > h3 {
	text-decoration: underline;
}
#blueDiv > span {
	margin-right: 2%;
	font-size: 20px;
}
.navBarContainer {
	box-shadow: 2px 2px 5px lightgrey;
	border-bottom: 1px solid lightgrey;
	padding-left: 15%;
	background-color: white;
}
.navBarContainer > span {
	font-size: 20px;
	margin-right: 3%;
}
.navBarContainer > label {
	font-size: 20px;
}
.navBarContainer > span:hover {
	color: blue;
	text-decoration: underline;
	cursor: pointer;
}
.classes {
	width: 30%;
	margin: 1%;
	background-color: white;
	border: 1px solid lightblue;
	border-radius: 5%;
	overflow: hidden;
	transition: all 500ms;
	display: inline-block;
	vertical-align: top;
	margin-top: 0;
}
.classes:hover {
	margin-top: -2px;
	cursor: pointer;
	color: blue;
	text-decoration: underline;
	box-shadow: 5px 5px 5px lightgrey;
}
.classImage {
	width: 100%;
	height: 50%;
	border-radius: 5%;
}
.className {
	margin-left: 1%;
	font-size: 20px;
	margin-bottom: -15px;
}
.classDesc {
	margin-left: 1%;
	font-size: 15px;
	margin-bottom: 13%;
}
.icon {
	height: 40px;
	width: 40px;
}
.icon:hover{
	cursor: pointer;
}
.announcementDiv {
	border-bottom: 1px solid lightgrey;
}
.announcementDiv > h3 {
	color: #006fbf;
}
.announcementDiv > h3:hover {
	text-decoration: underline;
	cursor: pointer;
}
#anDDButton {
	border: none;
	background-color: white;
	font-size: 20px;
	display: inline;
}
#topButton1 {
	font-size: 20px;
	margin-right: 3%;
	border: none;
	background-color: white;
}
#topButton1:hover {
	cursor: pointer;
	color: blue;
	text-decoration: underline;
	background-color: white;
}
#topButton2 {
	font-size: 20px;
	margin-right: 3%;
	border: none;
	background-color: white;
}
#topButton2:hover {
	cursor: pointer;
	color: blue;
	text-decoration: underline;
	background-color: white;
}