body {
	background-color: RGB(55,89,92);
}
.thingsBody {
	background-color: RGB(93,105,166);
}
.photosBody {
	background-color: RGB(143,87,89);
}
.socialBody {
	background-color: RGB(69,102,53);
}
h2 {
	text-align:center;
}
.mainDiv {
	border: 2px solid black;
	width: 65%;
	height: 1000px;
	margin: auto;
	background-color: RGB(137,171,173);
	position: relative;
}
.thingsDiv {
	border: 2px solid black;
	width: 65%;
	height: 1000px;
	margin: auto;
	background-color: RGB(167,175,217);
	position: relative;
	padding: 5px;
}
.photosDiv {
	border: 2px solid black;
	width: 65%;
	height: 1000px;
	margin: auto;
	background-color: RGB(189,108,110);
	position: relative;
}
.socialDiv {
	border: 2px solid black;
	width: 65%;
	height: 1000px;
	margin: auto;
	background-color: RGB(122,148,109);
	position: relative;
}
.topTable {
	width: 100%;
	position:fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: RGB(194,194,194);
	border: 3px solid black;
}
.topData {
	border: 3px outset red;
	text-align: center;
}
.topData:hover {
	border: 3px inset red;
	text-align: center;
}
.education {
	background-color: RGB(161,201,204);
	width:100%;
	border:2px solid black;
}
.table1 {
	border: 1px solid black;
}
.informalDiv {
	border: 1px solid black;
	background-color: RGB(161,201,204);
	height: 200px;
}
#pfpImage, #pfpImage2 {
	height: 200px;
	width: 200px;
}
#pfpImage {
	float: left;
}
#pfpImage2 {
	float: right;
}
#mikaTitle {
	position: relative;
	top: 15px;
}