body {
	background-color: RGB(55,89,92);
}
.thingsBody {
	background-color: RGB(93,105,166);
}
.photosBody {
	background-color: RGB(143,87,89);
}
.socialBody {
	background-color: RGB(69,102,53);
}
h2 {
	text-align:center;
}
.mainDiv {
	border: 2px solid black;
	width: 65%;
	height: 100%;
	margin: auto;
	background-color: RGB(137,171,173);
	padding: 5px;
}
.thingsDiv {
	border: 2px solid black;
	width: 65%;
	height: 100%;
	margin: auto;
	background-color: RGB(167,175,217);
	padding: 5px;
}
.photosDiv {
	border: 2px solid black;
	width: 65%;
	height: 1000px;
	margin: auto;
	background-color: RGB(189,108,110);
	padding: 5x;
}
.socialDiv {
	border: 2px solid black;
	width: 65%;
	height: 1000px;
	margin: auto;
	background-color: RGB(122,148,109);
	padding: 5px;
}
.topTable {
	width: 100%;
	position:fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: RGB(194,194,194);
	border: 3px solid black;
}
.topData {
	border: 3px outset red;
	text-align: center;
	cursor: pointer;
}
.topData:hover {
	border: 3px inset red;
	text-align: center;
}
.education {
	background-color: RGB(161,201,204);
	height: 100px;
	width:100%;
	border:1px solid black;
}
.table1 {
	border: 1px solid black;
}
.informalDiv {
	border: 1px solid black;
	padding: 5px;
	background-color: RGB(161,201,204);
	height: 200px;
	overflow-x: hidden;
      overflow-y: auto;
}
.formalDiv {
	padding: 5px;
	border: 1px solid black;
	background-color: RGB(161,201,204);
	overflow-x: hidden;
	overflow-y: auto;
	height: auto;
}
.whyDiv {
	padding: 5px;
	border: 1px solid black;
	background-color: RGB(161,201,204);
	overflow-x: hidden;
	overflow-y: auto;
	height: auto;
}
#pfpImage, #pfpImage2 {
	height: 200px;
	width: 200px;
}
#pfpImage {
	float: left;
}
#pfpImage2 {
	float: right;
}
#mikaTitle {
	position: relative;
	top: 15px;
	text-align:center;
}
.mediaDiv {
	border: 1px solid black;
	padding: 2px;
	background-color: RGB(183,191,232);
	overflow-x: hidden;
	overflow-y: auto;
	height: auto;
}
.mediaImage {
	height:200px;
	width:200px;
	float: left;
}
.inlineMedia {
	border:1px solid black;
	height: 200px;
}
@media screen and (max-width: 800px) {
	.mainDiv, .thingsDiv, .photosDiv, .socialDiv {
	width: 100%;
 	}
}